/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */
main {
    padding: 2vw;
}

/* navbar */
.navbar {
    background-color: white;
    color: white;
    display: flex; 
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


/* logo */
.logo {
    display: flex; 
    align-items: center;
}

.logo img {
    height: 4vw;
    width: 4vw;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */


/*  
 style all a tags in header 
 and then on hover
*/





/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
