/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */
main {
    padding: 2vw;
}

/* navbar */
.navbar {
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

/* logo */
.logo {
    display: flex; 
    align-items: center;
}

.logo img {
    position: absolute;
    transform: translateX(-111px);
}

/* navigation list */
.navbar-links {
    display: flex;
    margin-top: 24px;
    column-gap: 10px;
}

.navbar-links li {
    list-style: none;
    text-align: start;
}

.navbar-links ul {
    display: flex;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    color: #E0B39F;
    column-gap: 8px;
    font-size: 0pt;
    padding: 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    border: solid #44362b;
    color: #e0b49f;
    background-color: #3d281d;
    font-size: 2rem;
    padding: 0.1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    text-shadow: 0px 5px 10px #272524ad;
    font-family: "Yeseva One", serif;
    box-shadow: 0px 6px 9px 2px rgb(10 43 38 / 40%);
}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert(1);
    outline: none;
}
/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 60rem) {
    .navbar-links {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 60rem) {
    .navbar-links a {
        font-size: 12.5pt;
        text-align: center;
        padding: 0.1rem 0.4rem;
    }
    .logo img {
        display: none;
    }
}
