*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #ffffff00;
}

body {
    display: flex;
    margin: auto;
    flex-direction: column;
    color: #E0B39F;
    background-color: #39615C;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One", serif; 
    font-weight: 700; 
    font-size: 80pt;
}

h2 {
    text-align: center;
    font-size: 50pt;
    background: #3d2014e0;
    border: #7b6f5b21;
    border-bottom: 5px #d7bcb1 solid;
    border-style: outset;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    margin: 50px auto 10px auto;
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 6px 9px 2px rgb(10 43 38 / 40%);
    text-shadow: -1px 3px 2px #18110da1, 
                    2px 7px 11px rgba(0, 0, 0, 0.15), 
                    -2px -9px 10px rgba(0, 0, 0, 0.1), 
                    1px 13px 8px rgba(0, 0, 0, 0.1);
}

.title {
    border: 4px #092b2621;
    border-style: inset;
    background-color: #472a1ff7;
    width: fit-content;
    margin: 1px 0px 0px 0px;
    padding: 10px 30px 10px 30px;
    box-shadow: inset 14px 10px 18px 0px rgba(0, 0, 0, 0.15), 
                    inset 24px 2px 20px rgba(0, 0, 0, 0.1), 
                    inset 3px 1px 19px 0px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 5px 0px #896b65,
                    0px 14px 10px rgba(0,0,0,0.15),
                    0px 24px 2px rgba(0,0,0,0.1),
                    0px 34px 30px rgba(0,0,0,0.1);
    white-space: nowrap;
    cursor: default;
}

header {
    text-align: center;
    word-spacing: 7px;
    letter-spacing: 2px;
}

p {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    color: #E0B39F;
    font-size: 16pt;
}

ul {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    color: #E0B39F;
    font-size: 16pt;
}

/* Hero Section */

#hero, footer{
    text-align: center; 
    color: #E0B39F 
}

#hero img {
    border: 5px #87A19E;
    border-style: solid;
    width: 300px;
    border-radius: 50%;
    background-color: #65c9ff;
    box-shadow: 0px 0px 13px 9px #323f3d70;
}

/* Bio Section */

#bio {
    text-align: center; 
}

/* Hobbies Section */

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 30px #5937269c;
    margin: 30px auto 30px auto;
    background-color: #506f6b;
    border-radius: 10px;
    border-style: ridge;
    box-shadow:-1px 5px 15px 3px #0406064f,
                inset 0px -1px 20px 3px #52dbd84d
}

#hobbies ul {
    display: inline-block;
    text-align: left;
    list-style: none;
    padding-left: 6px;
    margin-top: 10px;
}

#hobbies li {
    padding: 11px;
    background-color:#3d2014e0; 
    border: #7b6f5b21;
    border-style: outset;
    border-radius: 15px;
    margin-bottom: 13px;
    box-shadow: inset 0px 7px 7px 1px rgb(10 43 38 / 40%);
    text-shadow: 0px 4px 4px #02020275;
}

#hobbies li::before {
    display: inline-block;
    text-align: left; 
    content: ">";
    font-size: 1em;
    font-weight: bolder;
    padding-right: 12px;
}

/* Gallery Section */

#gallery {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    border: 30px #5937269c;
    margin: 30px auto 30px auto;
    background-color: #506f6b;
    border-radius: 10px;
    border-style: ridge;
    box-shadow:-1px 5px 15px 3px #0406064f,
                inset 0px -1px 20px 3px #52dbd84d
}


#gallery img {
    max-width: 100%;
}

#gallery figure {
    display: flex;
    min-height: 610px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 15pt;
    padding: 11px;
    border: #7b6f5b21;
    border-style: outset;
    border-radius: 15px;
    box-shadow: inset 0px 7px 7px 1px rgb(10 43 38 / 40%);
    flex-direction: column-reverse;
}

.back {
    align-self: bottom;
    background-color: #3b261d;
    margin: 10px auto 10px auto;
    padding: 10px;
    line-height: 22px;
    width: fit-content;
    border-color: #7b6f5b21;
    border-radius: 5px;
    border-style: outset;
    box-shadow: 0px 7px 15px 1px #28333196;
    text-shadow: 1px 0px 18px #1614147a;
}

/* Literature Section */
#lit {
    display: flex;
    flex-direction: column;
    margin: auto auto 10em auto;
    max-width: 1330px;
}

#lit .chunky {
    display: flex;
    background-color: #506F6B;
    margin-top: 35px;
    padding: 10px 5px 10px 5px;
    min-width: 1020px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 30px #5937269c;
    border-radius: 10px;
    border-style: ridge;
    box-shadow: -1px 5px 15px 3px #0406064f,
                inset 0px -1px 20px 3px #52dbd84d;
    text-shadow: 1px 0px 18px #1614147a;
    justify-content: space-evenly;
    align-items: flex-start;
}

#lit .chunky p {
    color: #fdf1ec;
    align-content: center;
    background-color: #534138;
    line-height: 27px;
    font-size: 15pt;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 15px 15px 15px;
    height: 330px;
    border: outset #7b6f5b21;
    border-radius: 20px;
    text-align: center;
    box-shadow: inset 0px 7px 7px 1px rgb(43 19 10 / 40%);
}
.chunk3 {
    display: none;
}


/* Video Section */
#video {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    background-color: #506f6b;
    max-width: 90rem;
    min-width: 100px;
    border: ridge 30px #5937269C;
    border-radius: 10px;
    box-shadow: -1px 5px 15px 3px #0406064f,
                inset 0px -1px 20px 3px #52dbd84d;
}

#video div {
    padding: 20px;
    border: #7B6F5B21;
    align-self: center;
    width: fit-content;
    border-style: outset;
    border-radius: 15px;
    box-shadow: inset 0px 7px 7px 1px rgb(10 43 38 / 40%);
}

#myVideo {
    border-radius: 10px;
    border: 17px outset #d3d7d75c;
    width: 1160px;
    height: 595px;
}

/* Form Section */
#contact {
    display: flex;
    flex-direction: column;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#contactForm {
    display: flex;
    font-family: "Yeseva One", serif;
    max-width: 1330px;
    min-width: 500px;
    width: 70%;
    background-color: #506F6B;
    box-shadow: -1px 5px 15px 3px #0406064f,
                inset 0px -1px 20px 3px #52dbd84d;
    border: ridge 30px #5937269C;
    border-radius: 10px;
    padding: 22px;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
}

#contactForm .leg1 {
    font-size: 40px;
    text-shadow: 0px 0px 5px #00000042;
    border: 1px outset #7A594536;
    background: #573a2c;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 15px;
    color: #EFD0C2;
    border-radius: 30px;
}

#contactForm .leg2 {
    background-color: #573a2c;
    text-shadow: 0px 0px 5px #00000042;
    width: 340px;
    border: 1px outset #7A594536;
    align-self: start;
    border-radius: 10px;
    color: #EFD0C2;
    text-align: center;
    padding: 4px 10px 4px 10px;
    letter-spacing: 0.2px;
    font-size: 22px;
}

.name::after, .email::after, .phone::after {
    content: "*";
    color: #D72828;
    margin-left: 2px;
}

.name, .email, .phone, .phonetype, .message {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.name {
    background-color: #573a2c;
    text-shadow: 0px 0px 5px #00000042;
    width: 90px;
    border: 1px outset #7A594536;
    align-self: start;
    border-radius: 10px;
    color: #EFD0C2;
    text-align: start;
    padding-left: 10px;
    padding-right: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
}

.email {
    background-color: #573a2c;
    text-shadow: 0px 0px 5px #00000042;
    width: 90px;
    border: 1px outset #7A594536;
    align-self: start;
    border-radius: 10px;
    color: #EFD0C2;
    text-align-last: start;
    padding-left: 10px;
    padding-right: 7px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0.2px;
}

.phone {
    background-color: #573a2c;
    text-shadow: 0px 0px 5px #00000042;
    width: 90px;
    border: 1px outset #7A594536;
    align-self: start;
    border-radius: 10px;
    color: #EFD0C2;
    text-align-last: start;
    padding-left: 10px;
    padding-right: 7px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0.2px;
}

.phonetype {
    background-color: #573a2c;
    text-shadow: 0px 0px 5px #00000042;
    width: fit-content;
    border: 1px outset #7A594536;
    align-self: start;
    border-radius: 10px;
    text-align-last: start;
    color: #EFD0C2;
    padding-left: 10px;
    padding-right: 7px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0.2px;
}

.message {
    background-color: #573a2c;
    text-shadow: 0px 0px 5px #00000042;
    width: fit-content;
    border: 1px outset #7A594536;
    align-self: start;
    border-radius: 10px;
    color: #EFD0C2;
    text-align-last: start;
    padding-left: 10px;
    padding-right: 7px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 0.2px;
}

#formElements {
    display: flex;
    border: 2px outset #7B6F5B21;
    padding: 15px 40px 25px 40px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset 0px 7px 7px 1px rgb(10 43 38 / 40%);
    min-width: 310px;
}

#formElements label .name {
    background-color: pink;
}

#formElements input, select {
    font-family: "Yeseva One", serif;
    font-weight: 500;
    resize: none;
    border-radius: 10px;
    padding: 7px;
    background-color: #F2ECE9;
    border: 1px solid #435B58C4;
    color: #351406;
    font-size: 17px;
    text-shadow: 0px 0px 7px #00000024;
}

#formElements input:focus-visible {
    outline: 2px solid #9AB7B5;
}

fieldset { 
    border: none;
}

button {
    width: 200px;
    align-self: center;
    background-color: #573a2c;
    border: 2px outset #4745452b;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 22px;
    box-shadow: 0px 0px 16px 9px #1e202026;
    font-size: 33px;
    color: #efd0c2;
    letter-spacing: 2px;
    text-shadow: 0px 0px 3px #00000038;
    font-family: "Yeseva One", serif;
}

.list {
    background: #f2ece9;
    width: 390px;
    height: fit-content;
    margin-top: 40px;
    align-self: center;
    border-radius: 30px;
    border: 3px outset #88aaa640;
    box-shadow: inset 0px 7px 7px 1px rgb(48 43 40 / 30%);
}

.list ul {
    justify-self: center;
    font-family: "Yeseva One", serif;
    font-weight: 500;
    text-shadow: 0px 0px 1px #00000036;
    margin-top: 15px;
    margin-left: -30px;
    color: #6C3927;
}
li {
    list-style: none;
    text-align: start;
    padding-bottom: 10px;
}

textarea {
    font-family: "Yeseva One", serif;
    font-weight: 500;
    resize: none;
    border-radius: 10px;
    padding: 7px;
    background-color: #F2ECE9;
    border: 1px solid #435B58C4;
    color: #351406;
    font-size: 17px;
    text-shadow: 0px 0px 7px #00000024;
}

textarea:focus-visible {
    resize: none;
    outline: 2px solid #9AB7B5;
}

#message-yes, #message-no {
    cursor: pointer;
}

@media screen and (min-width: 48em) {
    #gallery {
        flex-direction: column;
    }
    #gallery figure {
      min-height: 490px;  
    }

    #gallery img {
        width: 70%;
        justify-self: center;
    }
    #lit .chunky {
        min-width: 23em;
    }
    #lit .chunky p {
        font-size: 11pt;
    }
}

@media screen and (min-width: 60em) {
    #gallery {
        flex-direction: row;
    } 
    #hobbies {
        width: 850px;
    }
    #gallery img {
        width: 100%;
    }
    #myVideo {
        width: 800px;
        height: 438px;
    }
    #lit .chunky {
        min-width: 48em;
    }
    #lit .chunky p {
        font-size: 12pt;
    }
}

@media screen and (max-width: 60em) {
    .title {
        font-size: 40pt;
        text-shadow: none;
        padding: 20px;
        margin: 1px 0px 0px 0px;
    }
    #myVideo {
        width: 211px;
        height: 200px;
    }
    #lit .chunky {
        min-width: 23em;
    }
    #lit .chunky p {
        font-size: 11pt;
        height: fit-content;
    }
    .chunk1, .chunk2 {
        display:none;
    }
    .chunk3 {
        display: flex;
    }
    #gallery {
       flex-direction: column; 
    }
    #gallery figure {
        border: none;
        box-shadow: none;
        margin: 0;
        flex-direction: column; 
        justify-content: space-evenly;
    }
    #gallery img {
        border-radius: 20px;
    }
    h2 {
        font-size: 40pt;
    }
    #formElements {
        padding: 0;
        border: none;
        box-shadow: none;
        width: 100px;
    }
    #contactForm {
        min-width: 420px;
    }
    .list {
        width: fit-content;
    }
    #contactForm .leg2 {
        width: fit-content;
    }
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 35pt;
    }
    #formElements {
        width: 100px;
    }
    #contactForm {
        min-width: 375px;
    }
    .list {
        width: fit-content;
    }
    #contactForm .leg2 {
        width: fit-content;
    }
}

@media screen and (min-width: 68em) {
    #lit .chunky p {
        font-size: 15pt;
    }
    #myVideo {
        width: 875px;
        height: 438px;
    }
}

@media screen and (min-width: 1300px) {
    #lit .chunky p {
        font-size: 15pt;
    }
    
}

@media screen and (min-width: 100em) {
    #gallery {
        flex-direction: row;
    } 

    #gallery h2 {
        grid-column: 1/-1;
    }
    
    #gallery figure {
        min-height: 610px;  
    }

    #gallery img {
        width: 100%
    }

    #myVideo {
        width: 1160px;
        height: 595px;
    }
}


